<div
  class="d-flex flex-column justify-content-center align-items-center vh-100 w-100"
>
  <div class="w-25 mt-4 main-form-div p-5 rounded rounded-2 shadow">
    <h2 class="text-center">Update Password</h2>
    <form action="" [formGroup]="updateForm" (ngSubmit)="UpdateSubmit()">
      <label for="oldpass" class="form-label mb-1 mt-2">Old Password</label>
      <input
        type="password"
        placeholder="Old Password"
        id="oldpass"
        formControlName="oldPassword"
        class="form-control mt-0 mb-2"
      />
      @if ( updateForm.get('oldPassword')?.touched
      &&updateForm.get('oldPassword')?.errors) {
      <p class="error">Password is required</p>
      }
      <label for="newpass" class="form-label mb-1 mt-2">New Password</label>
      <input
        type="password"
        placeholder="New Password"
        id="newpass"
        (change)="passMatch($event, 'conPass')"
        formControlName="Password"
        class="form-control mt-0 mb-2"
      />
      @if ( updateForm.get('Password')?.touched
      &&updateForm.get('Password')?.errors) {
      <p class="error">New Password Is Required</p>
      }

      <label for="conpass" class="form-label mb-1 mt-2">Confirm Password</label>
      <input
        type="password"
        id="conpass"
        (change)="passMatch($event, 'pass')"
        formControlName="ConfirmPassword"
        placeholder="Confirm Password"
        class="form-control mt-0 mb-2"
      />
      @if ( updateForm.get("ConfirmPassword")?.errors &&
      updateForm.get("ConfirmPassword")?.touched) {
      <span class="error">Enter The Password </span>

      }@else if( updateForm.get("ConfirmPassword")?.value !==
      updateForm.get("password")?.value) {

      <span class="error">Password Not Match</span>
      }

      <div class="w-100 d-flex justify-content-center mt-4">
        <button
          class="btn btn-dark"
          [disabled]="updateForm.invalid || !passwordMatch"
        >
          Update Password
        </button>
      </div>
    </form>
  </div>
</div>
