<div class="container">
  <div class="">
    <form [formGroup]="examFormGroup" (ngSubmit)="examSubmit($event)">
      <div formArrayName="answerArray">
        <div
          *ngFor="let question of getAnswerArray.controls; let i = index"
          [formGroupName]="i"
        >
          {{ examData[i].question }}
          <div *ngFor="let opetion of examData[i].options; let j = index">
            <div>
              <input
                [required]="i == 0"
                type="radio"
                [id]="i.toString() + j"
                [value]="opetion"
                formControlName="answer"
              />
              <label [for]="i.toString() + j" class="ps-2 fs-5">
                {{ opetion }}
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end w-100">
        <button
          class="btn btn-success mt-4 mb-4"
          type="submit"
          [disabled]="examFormGroup.invalid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
