<div class="container">
  <div class="">
    <form [formGroup]="examFormGroup" (ngSubmit)="examSubmit($event)">
      <div formArrayName="answerArray">
        <div
          *ngFor="let question of getAnswerArray.controls; let i = index"
          class="row mt-3 g-3 border p-3 rounded exam-card"
          [formGroupName]="i"
        >
          <p class="col-12 fs-5 m-0">
            {{ examData[i].question }}
          </p>
          <hr />
          @for (opetion of examData[i].options; track examData; let j =$index) {

          <div class="col-6">
            <input
              [required]="i == 0"
              type="radio"
              #radioi
              [id]="i.toString() + j"
              [value]="opetion"
              formControlName="answer"
            />
            <label [for]="i.toString() + j" class="ps-2 fs-5">
              {{ opetion }}
            </label>
          </div>
          }
        </div>
      </div>

      <div class="d-flex justify-content-end w-100">
        <button
          class="btn btn-success mt-4 mb-4"
          type="submit"
          [disabled]="examFormGroup.invalid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
