<div class="p-2">
  <form [formGroup]="examForm" (ngSubmit)="examFormSubmit()">
    <div class="col-6 p-2">
      <label for="name">Subject Name</label>
      <input
        id="name"
        type="text"
        class="form-control"
        formControlName="subjectName"
        placeholder="Subject Name"
      />
      @if (examForm.get('subjectName')?.invalid
      &&examForm.get('subjectName')?.touched ) {
      <span class="error">Subject Name Required</span>
      }
    </div>
    <div formArrayName="questions" class="p-2">
      @for (question of getQuestionArray.controls; track question;let i=$index ;
      let last = $last) {
      <div [formGroupName]="i">
        <div class="border p-2 mt-2 rounded">
          <div class="col-12">
            <div class="row align-questions-center">
              <div class="col-10">
                <label for="question">
                  <span class="m-2 fs-5 fw-bold">{{ i + 1 + "." }}</span>
                  Question:</label
                >
                <input
                  type="text"
                  name="question"
                  id="question"
                  class="form-control"
                  placeholder="Question"
                  formControlName="question"
                />
              </div>
              @if (last) {
              <div class="col-auto align-self-end">
                <button class="btn-dark btn" type="button" (click)="add(i)">
                  <i class="bi bi-plus-lg"></i>
                </button>
              </div>
              } @if (getQuestionArray.length>1) {
              <div class="col-auto align-self-end">
                <button
                  class="btn-danger btn"
                  type="button"
                  (click)="remove(i)"
                >
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div>
              } @if ( question.get('question')?.invalid &&
              question.get('question')?.touched ) {
              <span class="error ps-3">question is Required</span>
              }
            </div>
          </div>

          <div formArrayName="options" class="mb-3">
            <div class="row">
              <label for="option">Option:</label>

              @for (option of
              getQuestionArray.controls[i]?.get('options').controls; track
              $index) {

              <div class="col-6 mt-2">
                {{ option.value == question.get("answer").value }}
                {{ option.value }}{{ question.get("answer").value }}

                <div class="input-group">
                  <input
                    type="radio"
                    class="form-check me-2"
                    [checked]="option.value == question.get('answer').value"
                    (change)="radioChange($index, i)"
                  />
                  <input
                    type="text"
                    id="opetion"
                    (change)="radioChange($index, i)"
                    [placeholder]="$index + 65 | charTostr"
                    class="form-control"
                    [formControlName]="$index"
                  />
                </div>

                @if ( option.invalid && option.touched ) {
                <span class="error ps-4"
                  >{{ $index + 65 | charTostr }} Is Required</span
                >
                }
              </div>
              }
            </div>
          </div>
        </div>
      </div>
      }
    </div>
    <div formArrayName="notes">
      @for (notes of getNotesArray.controls; track $index) {
      <div class="col-6">
        <div class="row align-questions-center">
          <div class="col-6">
            <label for="notes">notes:</label>
            <input
              type="text"
              name="notes"
              [formControlName]="$index"
              [id]="'note' + $index"
              class="form-control"
              placeholder="notes"
            />
          </div>

          <div class="col-auto align-self-end">
            <button class="btn-dark btn" type="button" (click)="addNotes()">
              <i class="bi bi-plus-lg"> </i>
            </button>
          </div>
          @if (notes.invalid && notes.touched) {
          <span class="error"> Notes Is Required</span>
          } @if (getNotesArray.controls.length>1) {
          <div class="col-auto align-self-end">
            <button
              class="btn-danger btn"
              type="button"
              (click)="removeNotes($index)"
            >
              <i class="bi bi-trash-fill"></i>
            </button>
          </div>
          }
        </div>
      </div>
      }
    </div>
    <div>
      <ng-toast [width]="300" />
    </div>

    <div class="mt-3 d-flex align-content-center justify-content-center col-3">
      <button class="btn btn-dark" type="submit" [disabled]="examForm.invalid">
        {{ id ? "Update Exam " : "Create Exam" }}
      </button>
    </div>
  </form>
</div>
